body {
  background-color:rgb(114, 155, 245);
  color:black;
  font-family: sans-serif; 
}

.img-thumbnail {
  margin: 15px;
  border: solid rgb(232, 248, 159);
  padding: 4px;
  float: right;
  width: 20%;
  height: auto;
}

.jumbotron {
  text-align: center;
  background-color: cornsilk;
  color: black;
}

.col-4 {
  margin: 20px;
  border: solid whitesmoke;
  border-width: 20px;
  padding: 20px;
  width: 45%;
  float:left;
  box-sizing: border-box;
}

.col-3 {
  margin:18px;
  border: solid whitesmoke;
  border-width: 18x;
  float:left;

}

.card-image-top {
  margin: auto;
  width: 50%;
  max-width: 100%
  height: auto;
}

.card {
  background-color: rgb(189, 225, 236);
  text-align: center;
  box-sizing: border-box; 
}


.spooky {
  font-family: Creepster;
  color:rgb(226, 24, 24);
}


 

