.img-thumbnail {
  margin: 15px;
  border: solid rgb(232, 248, 159);
  padding: 4px;
  float: right;
  width: 25%;
  height: auto;
}

.jumbotron {
  text-align: center;
  background-color: cornsilk;
}

.col-4{
  float:left;
}

.col-6{
  float:left;
}

body {
  background-color: rgb(119, 119, 241);
}

.card-image {
  margin: auto;
  width: 15%;
  height: auto;
}
.spooky {
  font-family: Creepster;
}
 

