.img-thumbnail {
  float: right;
  width: 25%;
  height: auto;
}

.jumbotron {
  text-align: center;
  background-color: cornsilk;
}

body {
  background-color: rgb(119, 119, 241);
}

.card-img-top {
  width: 15%;
}

.spooky {
  font-family: Creepster;
}


